*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    overflow-x: hidden;
}
 
.hero_conatainer{
     background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
     height: 70vh;
     background-repeat: no-repeat;
     background-position: center;
}
  
.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
  .navbar .nav_text{
     font-size: 15px;
     text-transform: capitalize;
     color: white;
     font-weight: 300;
     padding: 16px 48px;
  }

    .nav_parts a{
      margin-right: 15px;
      padding: 16px;
      color: white;
      text-decoration: none;
      font-weight: 300;
      text-transform: capitalize;
  }

   #user{
       font-size: 18px;
       border: 1px solid white;
       padding: 10px;
       border-radius: 50px;
       display: none;
   }


    .hero_text{
        height: 50%;
        
    }

     .image_logo img{
       width:280px;
       height: 80px;
        margin-left:40%;
        margin-top: 2%;
     }

     .hero_p{
        width: 100%;
        margin-top: 15px;
        margin-left: 20%;
        color: white;
       font-weight: 300px;
       font-size: 30px;
       text-transform: capitalize;
     }

.input{
   width: 900px;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-left: 150px;
   margin-top: 20px;
}

      .my_input{
         width: 200px;
        height: 60px;
        text-align: center;
        margin-left: 10px;
        border-right: 1px solid white;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
       border-top-left-radius: 10px;
       border-bottom-left-radius: 10px;
      }

        #user_icon2{
            position: absolute;
            left: 29%;
            font-size: 20px;
            font-weight: 300px;
            color: gray;
        }

        #user_icon3{
          position: absolute;
          left:37%;
          font-size: 20px;
          font-weight: 300px;
          color: gray;
        }

      .my_second_input{
         width: 700px;
         height: 60px;
         border-left: 1px solid white;
         border-right: 1px solid white;
         border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-bottom: 1px solid white;
        text-align: center;  
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }


       .article_image_container{
         height: 25%;
         /* border: 1px solid red; */
         margin-top: 50px;
         display: grid;
         grid-template-columns:repeat(3,1fr);
         gap: 20px;
         row-gap: 30px;
         
       }

       .card1 a{
           width:30%;
           border: 1px solid gray;
       }
       .card1 .personal_image{
        width:362px;
        height:150px;
        margin-top: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
       transition: transform 0.25s linear;
       }

      a{
          text-decoration: none;        
       }

       .card_text{
           font-size: 20px;
           text-transform: capitalize;
           margin-left: 10px;
           color: black;
       }

       .card_inside_text{
        font-size: 15px;
         text-transform: capitalize;
         margin-left: 10px;
         color: black;
         font-weight: 300;
       }


       .card2 .personal_image{
        width:362px;
        height:150px;
        margin-top: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: transform 0.25s linear;
       }

       .card3 .personal_image{
        width:362px;
        height:150px;
        margin-top: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: transform 0.25s linear;
       }


       .card1 .personal_image:hover{
             transform: scale(0.9);
        }


        .card2 .personal_image:hover{
          transform: scale(0.9);
     }

     .card3 .personal_image:hover{
      transform: scale(0.9);
 }


     .collection_container{
         height:40%;
         margin-top:50px;
         position: relative;
     }

      .collection_header p{
        font-size: 40px;
           margin-left: 10px;
           font-weight: 300px;
           text-transform: capitalize;
      }

      .collection_text{
         display: flex;
         justify-content: space-between;
      }

       .upper{
          margin-left: 10px;
          text-transform: capitalize;
          color: gray;
          font-weight:600px;
       }

       .lower{
        text-transform: capitalize;
        color: red;
        font-weight:600px;
        margin-right: 20px;
       }


         .collection_card{
            width:98%;
            margin-top: 15px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
         }

         .collection_card1{
          width:23%;
          padding-left: 20px;
       }


          
         .collection_card1 img{
          width: 250px;
          height: 300px;
          opacity:0.9;
          border-radius: 10px;
         }

         .collection_text_part{
            position: absolute;
            top:85%;
            text-transform: capitalize;
            font-weight: 700;
            color: rgb(32, 31, 31);
            margin-left: 20px;
            font-weight: 400;
         }

        .collection_text_part2{
          position: absolute;
          top:93%;
          text-transform: capitalize;
          font-weight: 700;
          color: rgb(32, 31, 31);
          margin-left: 20px;
          font-weight: 400;
        }

        .collection_card2{
          width:23%;
          padding-left: 20px;
       }

       .collection_card2 img{
        width: 250px;
        height: 300px;
        opacity:0.9;
        border-radius: 10px;
       }



       .collection_card3{
        width:23%;
     
        padding-left: 20px;
     }

     .collection_card3 img{
      width: 250px;
      height: 300px;
      opacity:0.9;
      border-radius: 10px;
     }


     .collection_card4{
      width:23%;
     
      padding-left: 20px;
   }

   .collection_card4 img{
    width: 250px;
    height: 300px;
    opacity:0.9;
    border-radius: 10px;
   }




       /* media screen */

       @media screen and (max-width:600px){
         html,body{
            overflow-x: hidden;
        }
         
        #user{
           display: flex;
           margin-right: 20px;
      }
     .link{
      display: none;
     }

     .hero_conatainer{
       height: 80vh;
     }

     .hero_p{
      width:75%;
      margin-right: 40px;
     }

      .image_logo img{
          margin-left:100px;
          margin-top: 60px;
          width: 200px;
          height: 50px;
      }

     .input{
      width:40%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top:30px;
     }

     #user_icon2{
      position: absolute;
      margin-left: 10px;
     }
  
       .my_input{
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
       }

       .article_image_container{
        height: 25%;
        /* border: 1px solid red; */
        margin-top: 50px;
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap: 20px;
        row-gap: 30px;
       
      }

    
      .collection_card{
         width:100%;
         margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
      }
 
      .collection_card1 img{
         width: 150px;
         height: 200px;
         opacity:0.9;
         border-radius: 10px;
        }
      
        .collection_card2 img{
         width: 150px;
         height: 200px;
         opacity:0.9;
         border-radius: 10px;
        }

        
        .collection_card3 img{
         width: 150px;
         height: 200px;
         opacity:0.9;
         border-radius: 10px;
        }

        .collection_card4 img{
         width: 150px;
         height: 200px;
         opacity:0.9;
         border-radius: 10px;
        }

        .collection_text_part{
         position: absolute;
         top:85%;
         text-transform: capitalize;
         font-weight: 700;
         color: rgb(32, 31, 31);
         margin-left: 20px;
         font-weight: 400;
         display: none;
      }

     .collection_text_part2{
       position: absolute;
       top:93%;
       text-transform: capitalize;
       font-weight: 700;
       color: rgb(32, 31, 31);
       margin-left: 20px;
       font-weight: 400;
       display: none;
     }

 }

   
